* {
  margin: 0;
  padding: 0;
}
#main {
  position: absolute;
}
.box {
  padding: 15px 0 0 15px;
  float: left;
}
.pic {
  padding: 10px;
  border: 1px solid #087e91;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.pic img {
  width: 250px;
  height: auto;
}
